:root{
    --blue-wigs: hsl(207, 100%, 19%);
    --grey-: hsl(22, 11%, 70%);
    --green-: hsl(114, 42%, 9%);
    --brown-jacket: hsl(18, 29%, 26%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.header{
    background-color: var(--green-);
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;


    max-width: 992px;
    margin: 0 auto;
}

 .nav img{
    width: 100px;
    
    
} 

.nav-link{
    color: var(--grey-);
    text-decoration: none;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;

}

.nav-menu-item{
    font-size: 12.5px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 6px 11px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: var(--brown-jacket);
    transition: 0.5s;
}

.nav-toggle{
    color: var(--grey-);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}


@media (max-width: 768px){
    body{
        padding-top: 70px ;
    }
   .header{
       height: 70px;
   }
   .nav img{
        width: 56px;
        padding: 5px 0;
        
   }
   .nav-menu{
       flex-direction: column;
       align-items: center;
       margin: 0;
       background-color: var(--brown-jacket);
       position: fixed;
       left: 0;
       top: 70px;
       width: 100%;
       padding: 20px 0;

       height: calc(100% - 56px);
       overflow-y: auto;

       left:100%;
       transition: 0.3s;
   }

   .nav-menu-item{
       line-height: 70px;
   }

   .nav-menu-link:hover{
       background: none;
       color: var(--blue-wigs);
   }

   .nav-toggle{
       display: block;
   }

   .nav-menu_visible{
       left: 0;
   }

   .nav-toggle:focus:not(:focus-visible){
       outline: none;
   }
}




